<%= form_with(model: clockout, local: true) do |form| %>
  <% if clockout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clockout.errors.count, "error") %> prohibited this clockout from being saved:</h2>

      <ul>
        <% clockout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
